# Minimal requirements
Django>=3.2,<3.3
wagtail==2.16.3
wagtail-import-export
python-social-auth
social-auth-app-django<5.0
python-jose
pyjwt
django-autocomplete-light
django-social-share
django-email-log
django-compressor
django-tinymce
django-wysiwyg
django-recaptcha
django-flatblocks
django-nested-admin
django-querysetsequence
django-redis
django-taggit<5.0
rpc4django
celery
django-celery-email
django-libsass
libsass
psycopg2-binary<2.9
elasticsearch
django-import-export
pyshp
owslib
django-colorfield
