/* DEFAULT Branding */

body {
  background-color: var(--bg_default);
  overflow-x: hidden;
}

hr {
  border-bottom: 1px solid var(--border_primary);
  border-top: 1px solid var(--border_accent);
}

/**
 * Core Elements
 * =============
 */

.packery-container {
  font-size: .75em;
  padding-left: 0;
  margin: 0;
 /* padding-right: 0; */
}

@media (min-width: 992px) {
  .packery-container {
    font-size: .875em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .packery-container {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* .container .row {
    margin: 0 -20px;
  } */

  .footer [class*="span"] {
    margin-left: 0;
  }
}

/**
 * Header and Navbar
 * =================
 *  SEE header.css
 */

/**
 * Rich Text Properties
 * ====================
 */

 .content a,
div.page-body a,
dev.cta-content a {
  font-weight: bold;
  color: var(--link_color);

}

.content a:hover,
div.page-body a:hover,
div.cta-content a:hover {
  color: var(--link_hover);
  text-decoration: underline;
}


.rich-text {
  overflow: hidden;
}

.richtext-image.right {
  float: right;
}

.richtext-image.left {
  float: left;
}

.cta-row {
  display: flex;
  flex-flow: row wrap;
}

.cta-item .rich-text li {
  font-size: .875em;
  font-weight: 400;
  margin-left: 20px;
}

.cta-item .rich-text li a {
  color: var(--link_color);
  font-family: var(--base_font_fam);
}

.cta-item .rich-text li a:hover,
.cta-item .rich-text li a:active,
.cta-item .rich-text li a:focus {
  color: var(--link_hover);
}

/**
 * Page Properties
 * ===============
 */

.home .cta-item-wrap:nth-of-type(3) .title,
.home .cta-item-wrap:nth-of-type(1n+5) .title {
  color: var(--primary_color);
  border-bottom-color: var(--primary_color);
}

.home .cta-item .richtext-image.right {
  bottom: 10px;
  position: absolute;
  right: 10px;
  max-width: 30px;
}

.home form button {
  border: none;
  height: 28px;
  float: right;
  position: relative;
  width: 20%;
}

.home .rich-text p a[href*="/"] {
  background: var(--bg_default);
  background: rgba(252, 252, 252, 0.75);
  display: block;
  font-size: .6875em;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  font-family: OpenSans, sans-serif;
  color: var(--cta_black);
  text-shadow: 0px 0px 2px var(--cta_white);
  font-weight: bold;
  /* padding-left: 27px; */
  line-height: 1.5em;
}
.home .rich-text p a[href*="/"]:hover {
  background: var(--bg_default);
  background: rgba(230, 230, 230, 0.9);
  cursor: pointer;
  color: var(--cta_black);
}
.home .rich-text p a[href*="/"] i {
  margin-left: -15px;
}

.base-layout input {
  height: 35px;
}
.home .cta-item input {
  height: 28px;
}

.home #record-search .giantText {
  font-size: 3.125em;
  line-height: 1.125em;
  color: var(--primary_color);
  font-weight: bold;
}

.cta-content h3 {
  color: var(--primary_color);
  font-family: OpenSans, sans-serif;
  font-size: 1.8125em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  word-wrap: break-word;
}


.home-item,
.cta-item-wrap {
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-item-wrap>a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

/* .cta-item p:first-child {
  margin-top: 30px;
} */

.cta-item .rich-text,
.cta-item .rich-text p {
  font-weight: 200;
  font-size: 1.14285em;
  line-height: 2.25;
  font-family: OpenSans, sans-serif;
  word-wrap: break-word;
}

.cta-item a {
  color: var(--link_color);
  /* font-weight: normal; */
}

.cta-item a:hover,
.cta-item a:active,
.cta-item a:focus {
  color: var(--link_hover);
  /* text-decoration: none; */
}

.cta-item .title {
  border-bottom: var(--border_alt) 2px solid;
  font-family: var(--base_font_fam);
  font-size: 1em;
  line-height: 1.75;
  font-weight: bold;
}

.home-item-cntr,
.home .cta-item-wrap .home-item-cntr {
  margin: 10px 15px 10px 15px;
}

h2, .h2 {
  font-size: 28px; }

h3, .h3 {
  font-size: 19px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 11px; }

h6, .h6 {
  font-size: 9px; }

@media (min-width: 992px) {

  h2, .h2 {
    font-size: 36px; }
  
  h3, .h3 {
    font-size: 24px; }
  
  h4, .h4 {
    font-size: 18px; }
  
  h5, .h5 {
    font-size: 14px; }
  
  h6, .h6 {
    font-size: 12px; }
  
  .home .cta-item-wrap {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0;
  }

  .home-item-cntr,
  .home .cta-item-wrap .home-item-cntr {
    margin: 15px 30px 15px 30px;
  }

  .home .cta-item {
    padding: 0;
  }

  .home #record-search,
  .home .packery-container > .home-item:nth-of-type(3),
  .home .packery-container > .home-item:nth-of-type(7) {
    /* float: right; */
    margin: 0 0px 0px 0;
  }

  .home #record-search {
    height: 170px;
  }

  .home .packery-container > .home-item:nth-of-type(7) {
    /* margin-top: -150px; */
    margin: 0;
  }

  .home .packery-container > .home-item:nth-of-type(2) {
    height: 320px;
  }

  .home .packery-container > .home-item:nth-of-type(7) {
    height: 125px;
  }

  .home .packery-container > .home-item:nth-of-type(3) h3,
  .home .packery-container > .home-item:nth-of-type(5) h3,
  .home .packery-container > .home-item:nth-of-type(6) h3,
  .home .packery-container > .home-item:nth-of-type(7) h3 {
    color: var(--primary_color);
  }

  .home .cta-item .title {
    border-bottom-color: var(--primary_color);
    color: var(--primary_color);
    text-transform: uppercase;
  }

  .cta-item {
    padding: 24px 36px 26px 0;
  }
}

@media (min-width: 1200px) {
  .home .span3 {
    width: 290px;
  }

  .home .container .row {
    padding: 0 20px;
  }

  .home .content .container .row {
    margin: 0 -10px;
  }

  .cta-content h3 {
    font-size: 2.25em;
  }

  .cta-item {
    padding: 38px 50px 40px 20px;
  }
}

/**
 * Connect Page
 * ============
 */

.connect-page .cta-row,
.connect .cta-row  {
  margin-bottom: 40px;
}

.connect-page .cta-row .cta-item-wrap,
.connect .cta-row .cta-item-wrap  {
  text-align: center;
  padding: 15px 10px;
  word-spacing: 3px;
}

.connect-page .cta-row .cta-item-wrap h3,
.connect .cta-row .cta-item-wrap h3  {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.connect-page .body-image,
.connect .body-image  {
  margin-bottom: 40px;
}

.connect-page .body-image img,
.connect .body-image img  {
  float: right;
  margin: 20px;
}

.connect-page .body-image h3,
.connect .body-image h3  {
  color: var(--strong_color);
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.connect-page .body-image p,
.connect .body-image p  {
  color: var(--strong_color);
  font-family: OpenSans, sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.75;
}

.connect-page .body-image a,
.connect .body-image a  {
  color: var(--cta_blue);
}

.connect-page .body-image .rich-text,
.connect .body-image .rich-text  {
  overflow: visible;
}

.block-details .cta-item {
  padding: 0 40px;
}

.block-details .cta-content {
  padding: 30px 20px 0;
}

.block-details .cta-content a {
  color: var(--cta_blue);
}

.block-details p {
  color: inherit;
}

/* .cta-item-wrap[class*='text-'] * {
  color: inherit;
} */

/**
 * Variable Colors - set in CMS
 * ============================
 */

.cta-item-wrap.text-white,
.cta-item-wrap.text-white * {
  color: var(--cta_white);
}

.cta-item-wrap.text-blue *,
.cta-item-wrap.text-blue {
  color: var(--cta_blue);
}

.cta-item-wrap.text-red *,
.cta-item-wrap.text-red {
  color: var(--cta_red);
}

.cta-item-wrap.text-green *,
.cta-item-wrap.text-green {
  color: var(--cta_green);
}

.cta-item-wrap.text-grey *,
.cta-item-wrap.text-grey {
  color: var(--cta_grey);
}

.cta-item-wrap.text-purple *,
.cta-item-wrap.text-purple {
  color: var(--cta_purple);
}

.text-black.cta-item-wrap *,
.cta-item-wrap.text-black {
  color: var(--cta_black);
}

.cta-item-wrap a {
  color: var(--link_color) !important;
}

.cta-item-wrap a .cta-item a:hover,
.cta-item-wrap a:hover {
  color: var(--link_hover) !important;
}

.text-white.cta-item-wrap a .cta-item,
.text-white.cta-item-wrap a:hover .cta-item {
  color: var(--cta_white);
}

.text-blue.cta-item-wrap a .cta-item,
.text-blue.cta-item-wrap a:hover .cta-item {
  color: var(--cta_blue);
}

.text-red.cta-item-wrap a .cta-item,
.text-red.cta-item-wrap a:hover .cta-item {
  color: var(--cta_red);
}

.text-green.cta-item-wrap a .cta-item,
.text-green.cta-item-wrap a:hover .cta-item {
  color: var(--cta_green);
}

.text-grey.cta-item-wrap a .cta-item,
.text-grey.cta-item-wrap a:hover .cta-item {
  color: var(--cta_grey);
}

.text-purple.cta-item-wrap a .cta-item,
.text-purple.cta-item-wrap a:hover .cta-item {
  color: var(--cta_purple);
}

.text-black.cta-item-wrap a .cta-item,
.text-black.cta-item-wrap a:hover .cta-item {
  color: var(--cta_black);
}


/**
 * Variable Background Color - set in CMS
 * ======================================
 */

 .cta-item-wrap.bg-white {
   background-color: var(--cta_white);
 }

 .cta-item-wrap.bg-blue {
   background-color: var(--cta_blue);
 }

 .cta-item-wrap.bg-red {
   background-color: var(--cta_red);
 }

 .cta-item-wrap.bg-green {
   background-color: var(--cta_green);
 }

 .cta-item-wrap.bg-grey {
   background-color: var(--cta_grey);
 }

 .cta-item-wrap.bg-purple {
   background-color: var(--cta_purple);
 }

 .cta-item-wrap.bg-black {
   background-color: var(--cta_black);
 }

/*
 * grid pages
 */
 /* RDH: This prevents the hover style from ending underneath the header */
 .grid-view > .detail:hover {
     padding-top: 5px;
     margin-top: 5px;
 }

 div.grid-view div.badge {
   background-color: var(--cta_blue);
   border: 2px solid var(--badge_border); 
   color: var(--cta_white);
 }

  /* Feedback */
  #feedback-modal div.modal-body {
    overflow: hidden;
  }
  #feedback-modal div.wrap {
    height: 70vh;
  }
 
  #feedback-modal iframe {
     position: absolute;
     display: block;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
  }
 
 /* Bootstrap 2.3.2 is dumb */
 .modal {
   width: auto;
   z-index: 1041;
   left: 50%;
   bottom: unset;
   right: unset;
   padding: 0 !important;
 }

 .modal.in .modal-dialog {
   margin: 0;
 }

 .modal-backdrop {
  position: fixed;
}
