# Minimal requirements
Django
wagtail

# Tentative additions:
wagtail-import-export
python-social-auth
social-auth-app-django
python-jose
pyjwt
django-social-share
django-email-log
django-compressor
django-tinymce
django-wysiwyg
django-recaptcha
django-flatblocks
django-nested-admin
django-redis
rpc4django

##################################
#-e git+https://github.com/Ecotrust/mp-data-manager.git@main#egg=mp_data_manager
### OR ####
#-e git+https://github.com/Ecotrust/mp-data-manager.git@gp2#egg=mp_data_manager-gp2
##################################

#-e git+https://github.com/Ecotrust/madrona-analysistools.git@main#egg=madrona_analysistools
#-e git+https://github.com/Ecotrust/mp-visualize.git@main#egg=mp_visualize
#-e git+https://github.com/Ecotrust/madrona-features.git@main#egg=madrona_features
#-e git+https://github.com/Ecotrust/mp-accounts.git@main#egg=mp_accounts
#-e git+https://github.com/Ecotrust/madrona-scenarios.git@main#egg=madrona_scenarios
#-e git+https://github.com/Ecotrust/madrona-manipulators.git@main#egg=madrona_manipulators
#-e git+https://github.com/Ecotrust/mp-drawing.git@main#egg=mp_drawing
#-e git+https://github.com/Ecotrust/mp-explore.git@main#egg=mp_explore
#-e git+https://github.com/Ecotrust/marco-map_groups.git@main#egg=marco-map_groups
#-e git+https://github.com/Ecotrust/p97-nursery.git@main#egg=p97-nursery
#-e git+https://github.com/Ecotrust/mp-proxy.git@main#egg=mp_proxy

##################################
#-e git+https://github.com/Ecotrust/mida-portal.git@main#egg=mida
### OR ###
#-e git+https://github.com/Ecotrust/wcoa.git@migration_2021#egg=wcoa-2021
### OR ###
#-e git+https://github.com/Ecotrust/wc-offshore-portal.git@master#egg=offshore
##################################


celery
# Django-Celery is incompatible with py3/Django2
#django-celery
django-celery-email

django-libsass

# Note: django-libsass needs libsass>0.4
# 0.5.1 is the latest version that we can install on WF
libsass

# Recommended components (require additional setup):
# pg2 2.9 breaks migrations: https://stackoverflow.com/a/68025007/706797
psycopg2-binary<2.9
elasticsearch

django-import-export

pyshp

owslib
