# Upgrade Wagtail from 4.2 to 5.0; Django from 3.2 to 4.2
Django>=4.2,<5.0
wagtail>5.0,<5.1
wagtail-import-export
python-social-auth
social-auth-core>=4.5.4
social-auth-app-django>=5.4.2
python-jose
pyjwt>=2.10
django-autocomplete-light
django-social-share
django-email-log>=1.4
django-compressor>4.5.1
rcssmin>=1.1.2
rjsmin>=1.2.2
django-tinymce>=4.1.0
django-wysiwyg
django-recaptcha>=4.0.0
django-flatblocks
django-nested-admin
django-querysetsequence
django-redis
django-taggit
rpc4django
celery
django-celery-email
django-libsass
libsass
psycopg2-binary
elasticsearch
django-import-export
pyshp
owslib
django-colorfield
jedi>=0.19.2
parso>=0.8.4
djangorestframework>=3.16
wagtailcharts
