{% load wagtailcore_tags static %}
<section class="layer-info">
    <span id="layer-info-{{ layer.slug_name }}"></span>
    <div class="row">
      <div class="col-sm-9">
        <h4 id='layer-accordion-{{ layer.id }}'>
          <a class="layer-name" title="View in Marine Planner"
              data-toggle="collapse" href="#collapse-layer-{{ layer.id }}"
              aria-expanded="false" aria-controls="collapse-layer-{{ layer.id }}"
              onclick="getCatalogEntry({{ layer.id }})">
            {{layer.name}}</a>
          {% if layer.is_sublayer %}
            <span class="layer-parent-name">
              / {{ layer.parent.name }}
            </span>
          {% endif %}
        </h4>
      </div>
      <div class="col-sm-3">
        {% if layer.bookmark_link %}{% if layer.is_sublayer or not layer.sublayers|length > 0 %}
          <a href="{{layer.bookmark_link}}" target="_blank" class="view-in-map">View in MAP</a>
        {% endif %}{% endif %}
      </div>
    </div>
    <div id="collapse-layer-{{ layer.id }}" class="collapse">
      <div class='layer-loading-panel'>
        <p><img src="{% static 'img/ajax-loader.gif' %}"> Loading...<p>
      </div>
    </div>

</section>
