# Upgrade Wagtail from 6.1 to 6.2
Django>=4.2,<5.0
wagtail>6.2,<6.3
wagtail-import-export
python-social-auth
social-auth-core
social-auth-app-django
python-jose
pyjwt
django-autocomplete-light
django-social-share
django-email-log
django-compressor
rcssmin
rjsmin
django-tinymce
django-wysiwyg
django-recaptcha
django-flatblocks
django-nested-admin
django-querysetsequence
django-redis
django-taggit
rpc4django
celery
django-celery-email
django-libsass
libsass
psycopg2-binary
elasticsearch
django-import-export
pyshp
owslib
django-colorfield
jedi
parso
djangorestframework
wagtailcharts
