# Docker-focused configuration for WCOA local development.
# Use with MP_PROJECT_CONFIG=config.wcoa.docker.ini

[APP]
APP_NAME = WCOA Portal
APP_URL = ''
APP_TEAM_NAME = Marine Planner Team
PROJECT_APP = wcoa
PROJECT_SETTINGS_FILE = True
DEBUG = True
TEMPLATE_DEBUG = True
ALLOWED_HOSTS = ["localhost", "127.0.0.1", "::1"]
SECRET_KEY = You forgot to set the secret key
MEDIA_ROOT = /vol/web/media
MEDIA_URL = /media/
TIME_ZONE = UTC
GA_ACCOUNT = You forgot to set the google analytics account
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''
STATIC_ROOT = /vol/web/static
EMAIL_SUBJECT_PREFIX = [WCOA]
MAP_LIBRARY = ol8
COMPRESS_ENABLED = True
STATIC_CORE = /vol/web/static/
ADDITIONAL_APPS = []
ADDITIONAL_MIDDLEWARE = []

[REGION]
NAME = Mid-Atlantic Ocean
INIT_ZOOM = 6
INIT_LAT = 39
INIT_LON = -120
MAP = ocean

[CACHES]
BACKEND = django_redis.cache.RedisCache
LOCATION = redis://:sOmE_sEcUrE_pAsS@tasks:6379/1
CLIENT_CLASS = django_redis.client.DefaultClient

[CELERY]
CELERY_RESULT_BACKEND = redis://:sOmE_sEcUrE_pAsS@tasks:6379/1
BROKER_URL = redis://:sOmE_sEcUrE_pAsS@tasks:6379/0
CELERY_BROKER_URL = redis://:sOmE_sEcUrE_pAsS@tasks:6379
CELERY_ALWAYS_EAGER = False
CELERY_DISABLE_RATE_LIMITS = True

[DATABASE]
ENGINE = django.contrib.gis.db.backends.postgis
NAME = wcoa_docker_db
HOST = db
PORT = 5432
USER = wcoa_docker_user
PASSWORD = wcoa_docker_pass

[EMAIL]
HOST = localhost
PORT = 25
HOST_USER = mail user
HOST_PASSWORD = mail password
DEFAULT_FROM_EMAIL = Mid-Atlantic Portal <support@mail.mida.ecotrust.org>
SERVER_EMAIL = MidA Site Errors <midasupport@mail.mida.ecotrust.org>

[AWS]
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_SES_REGION_NAME = us-east-1
AWS_SES_REGION_ENDPOINT = email.us-east-1.amazonaws.com

[SOCIAL_AUTH]
FACEBOOK_KEY = You forgot to set the facebook key
FACEBOOK_SECRET = You forgot to set the facebook secret
TWITTER_KEY = You forgot to set the twitter key
TWITTER_SECRET = You forgot to set the twitter secret
GOOGLE_KEY = You forgot to set the google key
GOOGLE_SECRET = You forgot to set the google secret

[CATALOG]
DATA_CATALOG_ENABLED = False
CATALOG_TECHNOLOGY = GeoPortal2
CATALOG_PROXY =
CATALOG_SOURCE = http://192.168.0.40:9200
CATALOG_QUERY_ENDPOINT = /geoportal/elastic/metadata/item/_search/
